*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    height:75px;
    background:#2563eb;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#fde047;
}
.h2{
    color: #a3aabc;
}